.placed-order{
    height: 100vh;
    background-image: url(../projectphotos/Designing-Your-Sci-Fi-Gaming-Setup-for-an-Immersive-Experience1-454a6b99-fea3-4ae1-8140-41d0e14a4cae.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}