.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(../projectphotos/two-chair.jpeg);
    background-size: contain;
    background-attachment: fixed;
    
  }
  
  .productlist{
    background-image: url(../projectphotos/two-chair.jpeg);
    background-size: contain;
    background-attachment: fixed;
  }
  .product-card {
    width: 200px;
    margin: 10px;
    padding: 15px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    opacity: 0.9;
  }
  
  .product-card h3 {
    margin-top: 0;
  }
  
  .product-card p {
    margin-bottom: 10px;
  }

  .product-container{
    padding-top: 20px;
    background-image: url(../projectphotos/two-chair.jpeg);
    background-size: contain;
    background-attachment: fixed;
  }